<div class="p-10 bg-mainColor  text-white text-center">
    <div class="mx-auto container px-3">
        <div class="grid sm:grid-cols-3 m-5">
            <div class="flex flex-col gap-4 p-3 ">
                <h3 class="font-medium text-2xl">LOCATION</h3>
                <p>2215 John Daniel Drive

                </p>
                <p>Clark, MO 65243

                </p>
            </div>
            <div class="flex flex-col gap-4 p-3 ">
                <h3 class="font-medium text-2xl">AROUND THE WEB
                </h3>
                <div class="flex gap-[.125rem] w-fit mx-auto">
                   <i class="ring-1 hover:bg-wiredGreen ring-white  p-2 rounded-full transition-all fa-brands fa-facebook mx-1 icon"></i>
                   <i class="ring-1 hover:bg-wiredGreen ring-white  p-2 rounded-full transition-all fa-brands fa-twitter mx-1 icon"></i>
                   <i class="ring-1 hover:bg-wiredGreen ring-white  p-2 rounded-full transition-all fa-brands fa-linkedin-in mx-1 icon"></i>
                   <i class="ring-1 hover:bg-wiredGreen ring-white  p-2 rounded-full transition-all fa-solid fa-globe mx-1 icon"></i>
                </div>
            </div>
            <div class="flex flex-col gap-4 p-3 ">
                <h3 class="font-medium text-2xl">ABOUT FREELANCER
                </h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route
                </p>
              
            </div>
        </div>

    </div>
</div>
<div class="bg-footerColor text-center p-3 text-white">
    <p class="mb-2 pt-2">Copyright © Your Website 2021</p>
</div>