<div class="min-h-[calc(100vh-100px)] flex justify-center items-center bg-wiredGreen text-white ">
    <div class="text-center w-3/4">
        <img class="w-[250px] mx-auto mb-8" src="./assets/images/avataaars.svg" alt="avater">
      <h2 class="text-[38px] font-bold uppercase mt-5">start Framework

      </h2>
      <div class="flex gap-2 justify-center items-center pt-2 pb-4 ">
      <div class="w-20 h-1 bg-white" ></div>
          <i class="fa-solid fa-star"></i>
      <div class="w-20 h-1 bg-white" ></div>
      </div>
      <p>
        Graphic Artist - Web Designer - Illustrator
      </p>
    </div>
  </div>
